.btn-primary {
    border-radius: 0px;
    background-color: transparent !important;
    color: $primary;
    border: 1px solid $primary !important;
    padding: 17px 55px;
}

.btn-scifi {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    
    text-transform: uppercase;
}

button {
    margin: 0;
    padding: 0;
}