.char {
    color: #fff;
    transition: color ease-out 0.3s, text-shadow ease-out 0.3s;
    text-shadow: 0 0 4rem #fff;
  }
  .char.fade-in {
    color: $primary;
    transition: color ease-out 0.3s, text-shadow ease-out 0.3s;
  }
  