// Mixins
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
@mixin background-cover() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@mixin serif-font() {
  font-family: 'Space Mono', monospace;
  font-family: 'Share Tech Mono', monospace;
}
@mixin sans-serif-font() {
  font-family: 'Space Mono', monospace;
  font-family: 'Share Tech Mono', monospace;
}
